*{
    margin: 0;
    padding: 0;
    list-style:none;
    text-decoration: none;
}
body {
    background-color: #f0f1f2;
}
#box{
    width: 1140px;
    /* height: 2000px; */
    margin: 0 auto;
    /* background-color: antiquewhite; */
}
/* 头部的样式 */
.header {
    width: 1140px;
    height: 80px;
    margin: 0 auto;
    /* background-color: aquamarine; */
    background: url("head.png") no-repeat;
    background-size: 100%;
}
/* 头部左边导航栏 */
#box .header .header-left li{
    height: 40px;
    width: 80px;
    float: left;
    text-align: center;
    margin-left: 100px;
    margin-top: 19px;
    background-color: #ED7D31;
    border: 1px solid #ED7D31;
    border-radius: 20px;
}
#box .header .header-left li a {
    display: block;
    height: 40px;
    width: 80px;
    line-height: 40px;
    color: darkslategrey;
}

#box .header .header-left li:hover {
    background-color: #ED7D31;
    /* border-radius: 50%; */
}
#box .header .header-left li:nth-child(1) {
    margin-left: 0;
}
#box .header .header-left li:last-child{
    background-color: gainsboro;
}
#box .header .header-left li:hover{
    background-color: #f0f1f2;
}
/* 头部右边的登陆 */
#box .header .header-right{
    float: right;
    line-height: 50px;
    margin-top: 15px;
    margin-right: 5px;
    width: 110px;
    height: 50px;
    background-color: red;
    text-align: center;
}
#box .header .header-right li {
    display: block;
    height: 40px;
    width: 60px;
    float: right;
    text-align: center;
    margin-top: 5px;
    border-radius: 20px; 
    /* margin-left: 10px; */
    background-color: rgb(237, 49, 68);
}

#box .header .header-right li a {
    display: block;
    height: 40px;
    width: 60px;
    line-height: 40px;
}

#box .header .header-right li a:active {
    color: blue;
}

#box .header .header-right li:nth-child(2) {
    margin-right: 5px;
}
/* 主要内容 */
#box .content{
    width: 1140px;
    height: 900px;
}
/* 主要内容左边部分 */
#box .content .con-left-duo{
    width: 850px;
    height: 900px;
    display: inline-block;
}
#box .content .con-left{
    width: 850px;
    height: 860px;
    display: inline-block;
}
#box .content .con-left .con-left-con{
    width: 100%;
    height: 200px;
    margin-top: 10px;
    box-shadow: 1px 1px 1px #999;
    border-radius: 10px;
}
#box .content .con-left .con-left-con:hover{
    background-color: bisque;
}
#box .content .con-left .con-left-con-a{
    display: block;
    width: 100%;
    height: 200px;
    color: #000000;
}
#box .content .con-left .con-left-con .con-left-top{
    height: 40px;
}
#box .content .con-left .con-left-con .con-left-top-title{
    display: inline-block;
    font-size: 28px;
    padding-left: 20px;
    line-height: 40px;
}
#box .content .con-left .con-left-con .con-left-top-author{
    display: inline-block;
    float: right;
    padding-top: 20px;
    padding-right: 20px;
    color: darkgrey;
    font-size: 12px;
}
#box .content .con-left .con-left-con .con-left-mid{
    height: 120px;
}
#box .content .con-left .con-left-con .con-left-mid-desc{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
#box .content .con-left .con-left-con .con-left-bot{
    height: 40px;
    line-height: 40px;
}
#box .content .con-left .con-left-con .con-left-bot .con-left-bot-cate{
    display: inline-block;
    padding-left: 20px;
}
#box .content .con-left .con-left-con .con-left-bot .con-left-bot-like{
    display: inline-block;
    float: right;
    padding-right: 20px;
    font-size: 14px;
}

/* 主要内容右边部分 */
#box .content .con-right{
    display: inline-block;
    width: 290px;
    height: 900px;
    float: right;
    
}
#box .content .con-right .con-right-div{
    width: 98%;
    height: 140px;
    background-color: aliceblue;
    margin-top: 10px;
    margin-left: 3px;
    box-shadow: 3px 3px 2px #999;
    border-radius: 10px;
    
}
#box .content .con-right .con-right-div:hover{
    cursor: pointer;
    background-color: #f0f1f2;
}
#box .content .con-right .con-right-div p{
    padding-left: 20px;
}
#box .content .con-right .con-right-div p a{
    color: rgb(26, 24, 24);
}
#box .content .con-right .con-right-div .chayu-div{
    margin-top: 10px;
    padding-left: 30px;
}
#box .content .con-right .con-right-div .chayu-div a{
    color: #999;
    font-size: 14px;
}
