*{
    margin: 0;
    padding: 0;
    list-style:none;
    text-decoration: none;
}
body {
    background-color: #f0f1f2;
}


#box #title{
    height: 60px;
    width: 100%;
    background-color: rgb(247, 245, 243);
}
#box #title .titletext{
    width: 1170px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
}
#box #title .titletext .titletleft{
    float: left;
    display: inline-block;
}
#box .header .header-right{
    margin-top: 5px;
    height: 50px;
}
#box{
    width: 100%;
    margin: 0 auto;
    background-color: antiquewhite;
}
#box #leftFloatBar{
    float: right;
}
#box #comment{
    float: right;
    border: 1px solid #000;
    width: 333px;
    height: 800px;
}
#box #leftFloatBar .barList li a{
    border: 1px solid #ccc;
    text-align: center;
    width: 80px;
    height: 75px;
    display: inline-block;
    line-height: 75px;
}

#box #content #textwarp{
    width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 15px 0 #CCC;
    background: #F6F4EC;
}
#box #content #textwarp #text{
    width:90%;
    height: 100%;
    margin: 0 auto;
}
h1{
    padding-top: 24px;
    font-size: 26px;
    margin-bottom: 10px;
    color: #000;
}
#box #content #textwarp #text .texttitle .textinfo{
    margin-bottom: 10px;
}
#box #content #textwarp #text .texttitle .textinfo span,a{
    color:#999;
    margin-left: 15px;
   
}
#box #content #textwarp #text .texttitle .textinfo span:nth-child(1){
    margin-left: 0;
}
#box #content #textwarp #text .copytext{
    line-height: 1.8;
    font-size: 16px;
    padding-top: 16px;
    min-height: 360px;
    word-break: break-all;
}