*{
    margin: 0;
    padding: 0;
    list-style:none;
    text-decoration: none;
}
body {
    background-color: #f0f1f2;
}
#box{
    width: 1140px;
    height: 2000px;
    margin: 0 auto;
    background-color: antiquewhite;
}
/* 头部的样式 */
#box .header {
    width: 1140px;
    height: 80px;
    margin: 0 auto;
    /* background-color: aquamarine; */
    background: url('head.png') no-repeat;
    background-size: 100%;
    line-height: 80px;
}
#box .header .cate{
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    color: rgb(224, 85, 30);
    padding-left: 100px;
}
#box .header .sousuo{
    float: right;
    padding-right: 10px;
}
#box .header #search{
    width: 400px;
    height: 35px;
    border-radius: 5px;
}
#box .header #btnSea{
    width: 40px;
    height: 38px;
    border: 1px solid #f0f1f2;
    border-radius: 10px;
    background: rgb(224, 85, 30);
}
#box .header #btnSea:hover{
    cursor: pointer;
    background: rgb(150, 224, 30);
}
/* 主要内容 */
#box .content{
    width: 1140px;
    height: 1320px;
}
/* 主要内容左边部分 */
#box .content .con-left-duo{
    width: 850px;
    height: 1320px;
    display: inline-block;
}
#box .content .con-left{
    width: 850px;
    height: 1280px;
    display: inline-block;
    /* background-color: peru; */
}
#box .content .con-left .con-left-con{
    width: 100%;
    height: 200px;
    margin-top: 10px;
    box-shadow: 1px 1px 1px #999;
    border-radius: 10px;
    /* background-color: palevioletred; */
}
#box .content .con-left .con-left-con:hover{
    background-color: bisque;
}
#box .content .con-left .con-left-con-a{
    display: block;
    width: 100%;
    height: 200px;
    color: #000000;
}
#box .content .con-left .con-left-con .con-left-top{
    height: 40px;
}
#box .content .con-left .con-left-con .con-left-top-title{
    display: inline-block;
    font-size: 28px;
    padding-left: 20px;
    line-height: 40px;
}
#box .content .con-left .con-left-con .con-left-top-author{
    display: inline-block;
    float: right;
    padding-top: 20px;
    padding-right: 20px;
    color: darkgrey;
    font-size: 12px;
}
#box .content .con-left .con-left-con .con-left-mid{
    height: 120px;
}
#box .content .con-left .con-left-con .con-left-mid-desc{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
#box .content .con-left .con-left-con .con-left-bot{
    height: 40px;
    line-height: 40px;
}
#box .content .con-left .con-left-con .con-left-bot .con-left-bot-cate{
    display: inline-block;
    padding-left: 20px;
}
#box .content .con-left .con-left-con .con-left-bot .con-left-bot-like{
    display: inline-block;
    float: right;
    padding-right: 20px;
    font-size: 14px;
}

/* 主要内容右边部分 */
#box .content .con-right{
    display: inline-block;
    width: 290px;
    height: 1320px;
    float: right;
    background-color: palegoldenrod;
    
}
#box .content .con-right .con-right-div{
    width: 98%;
    height: 140px;
    background-color: aliceblue;
    margin-top: 10px;
    margin-left: 3px;
    box-shadow: 3px 3px 2px #999;
    border-radius: 10px;
    
}
#box .content .con-right .con-right-div:hover{
    cursor: pointer;
    background-color: #f0f1f2;
}
#box .content .con-right .con-right-div p{
    padding-left: 20px;
}
#box .content .con-right .con-right-div p a{
    color: rgb(26, 24, 24);
}
#box .content .con-right .con-right-div .chayu-div{
    margin-top: 10px;
    padding-left: 30px;
}
#box .content .con-right .con-right-div .chayu-div a{
    color: #999;
    font-size: 14px;
}